@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap');
*{
    transition: 0.5s all;
}
body{
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    background-color: #ffffff;
    margin: 0 ;
    padding: 0;
}

h1{
    font-size: 28px;
}
h2{
    font-size: 24px;

}
h3{
    font-size: 20px;

}
h4{
    font-size: 12px;

}
button{
    background-color:#FD377E;
    cursor: pointer;
}
button:hover{
    background-color:#E34981;   
}
.btn-claro:hover{
    background-color:#868E96;
    color: white;
}
input:focus,select:focus{
    border: 2px solid #212529;
}
option{
    box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 10px;
}


::-webkit-scrollbar{
    width: 4px;
    height: 3px;
    color: #E34981;
}
::-webkit-scrollbar-button{
    height: 5px;
}
::-webkit-scrollbar-track{
    background-color: #868E96;
}
::-webkit-scrollbar-thumb{

    background-color: #FD377E
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}